<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/index.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- main font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>

    <div class="wrapper">
        <header class="header">
            <div class="header__block ">
                <a href="/" class="header__logo">ACTIVE-STORE.RU</a>
                <div class="header__catalog">
                    <a href="/" class="header__catalog-button">Каталог</a>
                </div>
                <form action="#" method="get" class="header__search">
                    <input placeholder="Поиск" type="header__search-text">
                    <button type="submit"></button>
                </form>
                <nav class="header__menu">
                    <ul class="header__list">
                            <li class="header__admin">
                                <a href="/user/logout" class="header__link profile"></a>
                                <div class="header__admin-name">
                                    Александр
                                    <br>
                                    <div class="header__admin-email">administrator@mail.ru</div>
                                </div>
                            </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="main__wrapper">
                <div class="main__sidebar">
                    <a class="option active" href="/">
                        <div class="add__product">Добавить продукт</div>
                    </a>
                    <a class="option" href="/">
                        <div class="add__category">Добавить категорию</div>
                    </a>
                </div>
                <div class="main__content">
                    <h1>Список товаров</h1>
                    <button id="myBtn" class="add__product-button">Добавить товар</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close"></span>
                            <h2 class="modal__title">Добавить товар</h2>

                            <!--add product form-->
                            <form class="modal__form" method="post" action="/admin/products/create" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="">Имя продукта</label>
                                    <input type="text" name="title" placeholder="Введите имя">
                                </div>

                                <div class="form-group">
                                    <label for="">Описание продукта</label>
                                    <textarea name="description" cols="20" rows="4" placeholder="Введите описание продукта"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="">Категория</label>
                                    <select name="category">
                                            <option>1</option>
                                            <option>2</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="">Цена</label>
                                    <input type="text" name="price" placeholder="Введите цену">
                                </div>

                                <div class="form-group">
                                    <label for="">Image</label>
                                    <input type="file" class="image__input" name="image" id="img">
                                    <img src="#" id="imgPreview" alt="">
                                </div>

                                <button>Добавить</button>
                            </form>
                        </div>
                    </div>

                    <!-- products list -->
                    <table class="content-table">
                        <thead>
                        <tr class="home">
                            <th>Имя продукта</th>
                            <th>Цена</th>
                            <th>Категория</th>
                            <th>Изображение товара</th>
                            <th>Изменить</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(function(product){ %>
                                <tr>
                                    <td><%= product.title %></td>
                                    <td><%= product.price %></td>
                                    <td><%= product.category %></td>
                                    <td>
                                        <% if (product.image == "") { %>
                                            <img id="noimage" src="/images/noimage.png">
                                        <% } else {%>
                                            <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                                        <% }%>
                                    </td>
                                    <td><a href="/">Edit</a></td>
                                    <td><a class="confirmDeletion" href="/">Delete</a></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>



                </div>
            </div>
        </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/admin/js/modal.js"></script>

</body>

<%- include ("../partials/footer.ejs")  %>