<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/index.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- main font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/alert/css/alert.css">
    <title>AdminPanel</title>
</head>

<body>

<div class="wrapper">
    <%-include ("../partials/admin_header.ejs")%>
    <main class="main">
        <div class="main__wrapper">
            <div class="main__sidebar">
                <a class="option" href="/admin/products">
                    <div class="add__product">Добавить продукт</div>
                </a>
                <a class="option active" href="/admin/categories">
                    <div class="add__category">Добавить категорию</div>
                </a>
            </div>
            <div class="main__content">
                <h1>Список категорий</h1>
                <button id="myBtn" class="add__product-button">Добавить категорию</button>

                <%- include ("../partials/flash_messages.ejs")  %>

                <%- include ("../partials/categories_create_modal.ejs")  %>

                <%- include ("../partials/categories_list.ejs")  %>

                <% if (edit) {%>
                    <%-include ("../partials/categories_edit_modal.ejs")%>
                <% }; %>

            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/admin/js/modal.js"></script>
<script src="/alert/js/alert.js"></script>

</body>

<%- include ("../partials/footer.ejs")  %>