<!-- Cart Item-->
<% products.forEach(function(product){ %>
    <%if(product ) {%>
    <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><a href="/cart/delete/<%= product.productId._id %>" class="fa fa-times"></a></span>
        <div class="px-3 my-3">
            <a class="cart-item-product" href="/">
                <% if (product.productId.image == "") { %>
                    <div class="cart-item-product-thumb">
                        <img id="noimage" src="/noimage.png" alt="noimage">
                    </div>
                <% } else {%>
                    <div class="cart-item-product-thumb">
                        <img src="/product_images/<%= product.productId._id %>/<%= product.productId.image %>" alt="Product">
                    </div>
                <% }%>
                <div class="cart-item-product-info">
                    <h4 class="cart-item-product-title"><%= product.productId.title %></h4>
                    <span><strong>Категория: </strong><%= product.productId.category.title.toUpperCase() %></span>
                </div>
            </a>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Кол-во</div>
            <div class="count-input">
                <h4 class="cart-item-product-title">
                    <a class="btn btn-light" href="/cart/update/<%= product.productId._id %>?action=remove">-</a>
                    <%= product.quantity %>
                    <a class="btn btn-light" href="/cart/update/<%= product.productId._id %>?action=add">+</a>
                </h4>
            </div>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Стоимость</div><span class="text-xl font-weight-medium"><%= product.productId.price %> Р</span>
        </div>
        <div class="px-3 my-3 text-center">
            <div class="cart-item-label">Скидка</div><span class="text-xl font-weight-medium">-</span>
        </div>
    </div>
<% };%>
<% }); %>