<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- main font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/alert/css/alert.css">
    <title>ActiveStore</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__block ">
                <a href="/" class="header__logo">ACTIVE-STORE.RU</a>
                <% if (isAdmin) {%>
                    <div class="header__catalog">
                        <a href="/admin/products" class="header__catalog-button">Администрирование</a>
                    </div>
                <% }%>
                <%- include ("../partials/search.ejs") %>
                <%- include ("../partials/navigation.ejs") %>
            </div>
        </header>
        <main class="main">
            <div class="main__wrapper">
<!--            <%- include ("../partials/categories.ejs") %>-->
                <div class="catalog">
                    <aside class="sidebar">
                        <nav class="sidebar__catalog">
                            <ul class="sidebar__list">
                                <h2>Каталог</h2>
                                <li><a href="/" class="sidebar__item">Все товары</a></li>
                                <% categories.forEach(function(category){ %>
                                    <li><a href="/products/<%= category.link %>" class="sidebar__item"><%= category.title %></a></li>
                                <% }); %>
                            </ul>
                        </nav>
                    </aside>
                    <section class="content__products products">
                        <h2 class="products__title">Товары</h2>
                        <% if (message) {%>
                            <div class="alert success-alert">
                                <h3><%=message%></h3>
                                <a class="close">&times;</a>
                            </div>
                        <%}%>
                        <div class="products__items">
                            <% if (products == "") {%>
                                <img class="no-products" src="/noproducts.png" alt="no-products">
                            <%} else {
                                products.forEach(function(product){ %>
                                    <div class="product__item">
                                            <% if (product.image == "") { %>
                                                <img class="product__image" id="noimage" src="/noimage.png">
                                            <% } else {%>
                                                <img class="product__image" id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                                            <% }%>
                                        <div class="product__price"><%= product.price %> P</div>
                                        <div class="product__name"><%= product.title %></div>
                                        <div class="product__buttons">
                                            <a href="/cart/add/<%= product._id %>" class="product__button cart">В корзину</a>
                                            <a href="" class="product__button favorites"></a>
                                        </div>
                                    </div>
                                <% }); %>
                            <%};%>
 
                        </div>
                    </section>
                </div>


            </div>
        </main>
        <%- include ("../partials/footer.ejs") %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/index/js/index.js"></script>
    <script src="/alert/js/alert.js"></script>
</body>

</html>