<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- main font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveStore</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__block ">
                <a href="/" class="header__logo">ACTIVE-STORE.RU</a>
                <% if (isAdmin) {%>
                    <div class="header__catalog">
                        <a href="/admin/products" class="header__catalog-button">Администрирование</a>
                    </div>
                <% }%>
                <form action="#" method="get" class="header__search">
                    <input placeholder="Поиск" type="header__search-text">
                    <button type="submit"></button>
                </form>
                <%- include ("../partials/navigation.ejs") %>
            </div>
        </header>
        <main class="main">
            <div class="main__wrapper">
<!--            <%- include ("../partials/categories.ejs") %>-->
                <div class="catalog">
                    <aside class="sidebar">
                        <nav class="sidebar__catalog">
                            <ul class="sidebar__list">
                                <h2>Каталог</h2>
                                <li><a href="" class="sidebar__item">Электроника</a></li>
                                <li><a href="" class="sidebar__item">Одежда</a></li>
                                <li><a href="" class="sidebar__item">Обувь</a></li>
                                <li><a href="" class="sidebar__item">Для дома</a></li>
                                <li><a href="" class="sidebar__item">Спорт</a></li>
                                <li><a href="" class="sidebar__item">Строительство</a></li>
                                <li><a href="" class="sidebar__item">Книги</a></li>
                                <li><a href="" class="sidebar__item">Автотовары</a></li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="content__products products">
                        <h2 class="products__title">Товары</h2>
                        <div class="products__items">
                            <% products.forEach(function(product){ %>
                                <div class="product__item">
                                        <% if (product.image == "") { %>
                                            <img class="product__image" id="noimage" src="/images/noimage.png">
                                        <% } else {%>
                                            <img class="product__image" id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                                        <% }%>
                                    <div class="product__price"><%= product.price %> P</div>
                                    <div class="product__name"><%= product.title %></div>
                                    <div class="product__buttons">
                                        <a href="" class="product__button cart">В корзину</a>
                                        <a href="" class="product__button favorites"></a>
                                    </div>
                                </div>
                            <% }); %>
 
                        </div>
                    </section>
                </div>


            </div>
        </main>
        <%- include ("../partials/footer.ejs") %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/index/js/index.js"></script>
</body>

</html>